@{
    ViewData["Title"] = "Search";
}

<div data-model="searchViewModel" data-role="view">
    <form data-bind="events: { submit: onSearch }">
        <ul data-role="listview" data-style="">
            <li>
                <label class="km-label-above">
                    Druk onder deze tekst om te zoeken...
                    <input id="search" type="text" data-bind="value: searchTerm" />
                </label>
            </li>
        </ul>
    </form>

    <ul data-role="listview" data-style="inset" data-type="group">
        <li>
            <ul data-role="listview" id="searchlist" data-bind="source: source" data-template="listViewTemplate"></ul>
        </li>
    </ul>

</div>

<script type="text/x-kendo-template" id="listViewTemplate">
    <a data-role="button" class="km-primary km-button-right km-icon-button" data-bind="events: { click: onAdd }">
        <span class="km-icon km-add"></span>
    </a>
    <img class="km-thumbnail" src="${image}" />
    <h6 class="km-bold">${channel}</h6>
    <span class="km-small">${title}</span>
</script>

@section Scripts {
    <script src="~/js/search.js" asp-append-version="true"></script>
}